<div class="p-4">
    <h2 class="text-2xl text-indigo-600 font-bold mb-5">
        Thể loại
    </h2>
    <div class="flex justify-between gap-4 mb-3">
        <div>
            <div class="relative w-[308px]">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                    class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500 text-lg" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                </svg>
                <input type="text" [(ngModel)]="keyWord" (keydown.enter)="searchCategories()"
                    class="w-full h-9 pl-10 pr-3 text-sm border border-indigo-500 rounded-2xl focus:outline-none focus:border-indigo-700 bg-white text-gray-900 placeholder:text-gray-500"
                    placeholder="Nhập tên thể loại" [value]="keyWord">
            </div>
        </div>
        <div class="flex gap-3">
            <button (click)="reset()"
                class="bg-white py-1 px-5 border-1 border-indigo-600 text-indigo-600 cursor-pointer rounded-lg">
                Đặt lại
            </button>
            <button (click)="viewCategoryDetail(null)"
                class="bg-[#40A800] text-white px-4 py-2 rounded-md flex items-center gap-2 hover:bg-green-700 transition cursor-pointer">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-xl"
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M346.5 240H272v-74.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-74.5c-8.8 0-16 6-16 16s7.5 16 16 16H240v74.5c0 9.5 7 16 16 16s16-7.2 16-16V272h74.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z">
                    </path>
                    <path
                        d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z">
                    </path>
                </svg>
                Thêm
            </button>
        </div>
    </div>
    <div>
        <table class="w-full border-collapse bg-white">
            <thead class="bg-gray-200 text-gray-700 font-bold">
                <tr>
                    <th class="p-4 text-left w-[20%]">Tên</th>
                    <th class="p-4 text-left w-[60%]">Mô tả</th>
                    <th class="py-4 text-left w-[20%]">Hành động</th>
                </tr>
            </thead>
        </table>
        <div class="overflow-y-auto max-h-[400px]">
            <table class="w-full border-collapse bg-white">
                <tbody *ngIf="categories.length === 0">
                    <tr>
                        <td colspan="6" class="text-center p-4 text-gray-500">Không có dữ liệu</td>
                    </tr>
                </tbody>

                <tbody *ngIf="categories.length > 0">
                    <tr *ngFor="let category of categories" class="border-b hover:bg-gray-50"
                        style="border-color: rgb(229, 231, 235);">
                        <td
                            class="w-[20%] p-4 whitespace-nowrap overflow-hidden overflow-ellipsis max-w-[25vh] font-bold">
                            {{category.name}}
                        </td>
                        <td
                            class="w-[60%] p-4 whitespace-nowrap overflow-hidden overflow-ellipsis max-w-[25vh] font-bold">
                            {{category.description}}
                        </td>
                        <td class="p-4">
                            <div class="flex gap-2">
                                <button (click)="viewCategoryDetail(category.id!)"
                                    class="cursor-pointer text-yellow-500 text-lg hover:scale-110 transition mr-3">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M3 21h3.75L17.81 9.94l-3.75-3.75L3 17.25V21zm2-2.92l9.06-9.06.92.92L5.92 19H5v-.92zM18.37 3.29a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83a.996.996 0 000-1.41l-2.34-2.34z">
                                        </path>
                                    </svg>
                                </button>
                                <button (click)="showDialogDelete(category)"
                                    class="cursor-pointer text-red-600 text-lg hover:scale-110 transition">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                        viewBox="0 0 448 512" height="1em" width="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center mt-3">
            <div>
                {{this.categories.length}} kết quả
            </div>
            <div class="flex gap-2">
                <select [(ngModel)]="limit" class="focus:bg-white bg-transparent cursor-pointer outline-none"
                    (ngModelChange)="viewCategories()">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>
                </select>
                <span class="flex items-center">
                    {{startRecord}}-{{endRecord}} trong {{totalElement}}
                </span>
                <button (click)="prePage()" class="w-8 h-8 flex items-center justify-center font-bold rounded-full"
                    [ngClass]="{'text-gray-400': startRecord == 1, 'text-gray-900 hover:bg-gray-200 cursor-pointer': startRecord > 1}"
                    [disabled]="startRecord == 1">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button (click)="nextPage()"
                    class="w-8 h-8 flex items-center justify-center font-bold text-gray-900 hover:bg-gray-200 cursor-pointer rounded-full"
                    [ngClass]="{'text-gray-400': endRecord >= totalElement, 'text-gray-900 hover:bg-gray-200 cursor-pointer': endRecord < totalElement}"
                    [disabled]="endRecord >= totalElement">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isShowDialogDetail" class="fixed inset-0 bg-[rgba(0,0,0,0.3)] flex justify-center items-center"
        (click)="closeAllDialogs()">
        <div class="bg-white p-6 rounded-xl w-[500px] h-auto shadow-2xl relative" (click)="stopPropagation($event)">
            <h2 class="text-[24px] font-bold text-gray-800 mb-2">
                {{title}}
            </h2>
            <label class="block text-lg font-semibold text-gray-700">
                Tên
                <span class="text-red-500">*</span>
            </label>
            <input type="text"
                class="w-full p-3 bg-gray-100 rounded-lg mt-2 focus:ring focus:ring-indigo-400 outline-none text-sm"
                [(ngModel)]="newName" (ngModelChange)="isChangeField(newName, newDes)">
            <label class="block text-lg font-semibold text-gray-700 mt-3">
                Mô tả
            </label>
            <textarea
                class="w-full p-3 bg-gray-100 rounded-lg mt-2 focus:ring focus:ring-indigo-400 outline-none text-sm"
                rows="2" [(ngModel)]="newDes" (ngModelChange)="isChangeField(newName, newDes)">
            </textarea>
            <div class="flex justify-end mt-6 gap-3">
                <button (click)="closeAllDialogs()"
                    class="px-4 py-1 text-sm cursor-pointer font-semibold border-gray-400 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition duration-300">
                    Hủy
                </button>
                <button *ngIf="category" (click)="update(category.id!, category)"
                    [ngClass]="{'border-gray-400 bg-gray-200 text-gray-700 cursor-not-allowed': !isChange, 'text-white cursor-pointer transition duration-300 bg-indigo-500 hover:bg-indigo-700': isChange}"
                    class="px-6 py-2 text-sm font-semibold rounded-lg" [disabled]="!isChange">
                    Lưu
                </button>
                <button *ngIf="!category" (click)="create()"
                    class="px-6 py-2 text-sm font-semibold rounded-lg text-white cursor-pointer transition duration-300 bg-indigo-500 hover:bg-indigo-700">
                    Lưu
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isShowDialogDelete" class="fixed inset-0 bg-[rgba(0,0,0,0.3)] flex items-center justify-center z-50"
        (click)="closeAllDialogs()">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[450px] relative" (click)="stopPropagation($event)">
            <h2 class="text-lg font-bold text-gray-900 mb-4">
                Xác nhận xóa
            </h2>
            <p class="text-gray-600 mb-4">
                Bạn có chắc chắn muốn xóa danh mục <span class="font-bold">{{nameOfCategoryDelete}}</span> không?
            </p>
            <div class="flex justify-end space-x-3">
                <button (click)="closeAllDialogs()"
                    class="cursor-pointer px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 transition duration-200">
                    Hủy
                </button>
                <button (click)="deleteCategory()"
                    class="cursor-pointer px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition duration-200">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>